@font-face {
    font-family: "Akrobat ExtraBold";
    src: url("Akrobatextrabold.eot"); /* IE9 */
    src: local("Akrobat ExtraBold"), url("Akrobatextrabold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Akrobatextrabold.woff") format("woff"), /* chrome, firefox */
    url("Akrobatextrabold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Akrobatextrabold.svg#Akrobat ExtraBold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


